{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrab/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrab/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrab/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'bootstrab/inx.css' %}">
    <link rel="stylesheet" href=" static/bootstrab/inx.css ">
    <title>GALLERY</title>
    <style>

    </style>
</head>
<body >
    {% include 'nav.html' %}
    {% block con %}
    <h1>welcome to Kh-Gallery</h1>
    {% endblock con %}
    
</body>
</html>